#action-button
{
    display: block;
    cursor: pointer;
    
    font-size: 35px;
    text-align: center;
    color: gray;
    background: gainsboro;
    
    padding: 40px 120px;
    margin: auto;
    border-radius: 10px;
}